#ausgeschlossene Dateien

#ausgeschlossene Verzeichnisse (mit / beenden)

#Dateien, die durch ein Muster (*, &) identifiziert werden
*.class
*.tar.hz2
#Dateien, die entgegen dem Muster eingeschlossen werden
#(durch ! gekennzeichnet)
